.sideWrapper {
  flex: 2;
  padding-top: 15px;
  position: sticky;
  height: calc(100vh - 90px);
}

@media screen and (max-width: 990px) {
  .sideWrapper {
    flex: 3;
  }
}

.accordion {
  width: 80% !important;
}

.accordion button[aria-expanded="true"] {
  background: #262e36f5 !important;
  color: white !important;
}

a.border-radius:hover span {
  border-color: #0d6efd;
}

li span {
  width: 22px;
  height: 20px;
  border: 2px solid black;
  border-radius: 6px;
}

li {
  display: flex;
  justify-content: space-between;
}

li p {
  flex: 1;
  margin-left: 10px;
}

li .cursorIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
