.borderRadiusContainer .borderInput .showResult {
  width: 80px;
  height: 60px;
  border: 1px solid rgba(90, 90, 90, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderRadiusContainer .borderInput .pixels {
  margin-bottom: 20px;
}

@media screen and (max-width: 990px) {
  .borderRadiusContainer .row {
    flex-direction: column-reverse;
  }
}
