.colorTitleContainer {
  position: relative;
  min-height: 800px;
}

.colorTitleContainer .tabContent .content {
  margin-top: 30px;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  display: none;
}

.colorTitleContainer .content.show {
  display: block;
}

.choose .all,
.choose .each {
  width: 140px;
  height: 70%;
  padding: 15px;
  position: relative;
  bottom: 1px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.choose .active {
  border: 1px solid rgba(90, 90, 90, 0.3);
  border-bottom: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  bottom: -1px;
}

.colorPreview {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorPreview .result {
  width: 350px;
  height: 350px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

ChromePicker {
  width: 450px;
  height: 450px;
}

.colorsContainer {
  gap: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(90, 90, 90, 0.3);
  padding-bottom: 30px;
}

.colorTitle {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.colorsContainer .color {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
