body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  perspective: 700px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  flex: 10;
  padding-top: 15px;
}

.link {
  text-decoration: none;
  color: black;
}

code {
  color: #ad3;
}

input,
button,
textarea,
select {
  box-shadow: none !important;
}

.showCode {
  max-width: 100%;
  min-height: 70px;
  margin-bottom: 50px;
  background-color: rgb(17, 44, 66);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  flex-wrap: wrap;
}

.showCode code {
  margin: 10px 0;
  padding-left: 3px;
}

.showCode .copyIcon {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin: 10px 0;
}

@media screen and (max-width: 990px) {
  .showCode code {
    font-size: 13px;
  }

  .row {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 620px) {
  .showCode code {
    font-size: 10px;
  }
}
