.dateDetailsContainer {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dateDetailsContainer:last-child {
  border-bottom: none;
}

.dateDetailsContainer .dateInfo {
  margin-left: 20px;
  flex: 1;
}

.dateDetailsContainer .infoIcon {
  cursor: pointer;
}

.dateBehavior button {
  border: none !important;
  padding: 5px;
  margin: 0 5px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease;
}

.dateDetailsContainer:hover .dateBehavior button {
  opacity: 1;
  transform: scale(1);
}

.dateBehavior button:active {
  border: none !important;
}
