body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  border-radius: 2px;
  opacity: 0;
  transition: all 0.3s ease;
}

.btn,
.form-control {
  box-shadow: none !important;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

textarea {
  max-height: 80px;
}

.info-icon {
  font-size: 35px !important;
  margin-right: 20px;
}
