.gradient-input div {
  display: flex;
  align-items: center;
}

.gradient-input input {
  flex: 1;
  max-width: 40%;
  margin: 0 50px;
}

.gradient-input label {
  min-width: 10%;
}

.color input {
  max-width: 50px;
  height: 50px;
  flex: 1;
}

.show-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.result {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(68, 68, 68, 0.3);
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.result:active {
  transform: scale(0.95);
}

.result span {
  border: none;
  width: unset;
}

.showValue {
  width: 55px;
  height: 55px;
  border: 1px solid rgba(68, 68, 68, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
