.swiper {
  max-width: 1200px;
}

.swiper img {
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper-wrapper {
  height: unset;
}
