.shadow-input {
  padding-right: 70px;
}

.shadow-input div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow-input input {
  flex: 1;
  max-width: 80%;
  margin: 0 50px;
}

.shadow-input label {
  min-width: 10%;
}

.color input {
  max-width: 50px;
  height: 50px;
  flex: 1;
  margin-left: 15px;
  box-shadow: 12px 12px 12px 12px black;
}

.show-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.show-shadow .result {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(68, 68, 68, 0.3);
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.result:active {
  transform: scale(0.95);
}

.result span {
  border: none;
  width: unset;
  background-image: gra;
}

.shadow-input .showValue {
  width: 55px;
  height: 55px;
  border: 1px solid rgba(68, 68, 68, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  justify-content: flex-start !important;
}

.inset input[type="checkbox"] {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}
